{{!-- <article class="post"> --}}
{{!-- <p>{{data}}</p> --}}
<title>Yeah</title>
<p class= {{result.successFail}}>{{result.text}}</p>
<p id="myIntro">{{result.introduction}}</p>
{{!-- <p class= {{result.successFail}}>{{result.errorWord}}</p> --}}
<a id="try" href="/">Try another palindrome</a>
{{!-- </article> --}}